body{
    margin: 0;
    background-color: rgb(245,234,242);
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(245,234,242);
    height: 200px;
    border-bottom: 2px black solid;
}

header img{
    min-width: 200px;
}

#vitrine{
    margin: 10% 5% 10% 5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#product{
    margin-top: 50px;
    width: 300px;
}

#vitrine img{
    width: 300px;
}




